.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3e3149;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ad58e6;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* Общие стили */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

/* Светлая тема */
body.light-theme {
  background-color: #f5f5f5;
  color: #333333;
}

/* Темная тема */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Стили для кнопок */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

/* Светлая тема кнопок */
body.light-theme button {
  background-color: #007bff;
  color: #ffffff;
}

body.light-theme button:hover {
  background-color: #0056b3;
}

/* Темная тема кнопок */
body.dark-theme button {
  background-color: #bb86fc;
  color: #ffffff;
}

body.dark-theme button:hover {
  background-color: #3700b3;
}

/* Стили для карточек */
.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Светлая тема карточек */
body.light-theme .card {
  background-color: #ffffff;
  color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Темная тема карточек */
body.dark-theme .card {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Стили для текста */
.text {
  font-size: 16px;
  line-height: 1.5;
}

/* Светлая тема текста */
body.light-theme .text {
  color: #333333;
}

/* Темная тема текста */
body.dark-theme .text {
  color: #ffffff;
}

/* Стили для полей ввода */
input, textarea {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

/* Светлая тема полей ввода */
body.light-theme input, body.light-theme textarea {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #cccccc;
}

/* Темная тема полей ввода */
body.dark-theme input, body.dark-theme textarea {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}